.ipynb_checkpoints
Problem_1/state_A/COLVAR
Problem_1/state_A/COLVAR_SUM_BIAS
Problem_1/state_A/sys2_cccc.log
Problem_1/state_A/sys2_cccc.xtc
Problem_1/state_B/COLVAR
Problem_1/state_B/COLVAR_SUM_BIAS
Problem_1/state_B/sys2_cccc.log
Problem_1/state_B/sys2_cccc.xtc
